<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- BEGIN REQUIRED BOOTSTRAPPER CONFIGURATION -->
	<configSections>
		<sectionGroup name="wix.bootstrapper" type="Microsoft.Tools.WindowsInstallerXml.Bootstrapper.BootstrapperSectionGroup, BootstrapperCore">
			<section name="host" type="Microsoft.Tools.WindowsInstallerXml.Bootstrapper.HostSection, BootstrapperCore" />
		</sectionGroup>
	</configSections>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" />
	</startup>
	<wix.bootstrapper>
		<host assemblyName="WixWPF" >
			<supportedFramework version="v4\Full" />
			<supportedFramework version="v4\Client" />
		</host>
	</wix.bootstrapper>
	<!-- END REQUIRED BOOTSTRAPPER CONFIGURATION -->
	
	<!-- IMPORTANT: THIS MUST BE AFTER THE REQUIRED BOOTSTRAPPER CONFIGRATION -->
	<appSettings>
		<!-- TODO: Set the value of the BootstrapperUI setting to the assembly that defines the StartupWindow assembly attribute -->
		<add key="BootstrapperUI" value="" />
	</appSettings>
</configuration>
