<Wix
  xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
	xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
	<Bundle
		 Name="GTA V Eye Tracking Mod"
		 Manufacturer="alex8b"
		 Version="!(bind.packageVersion.Gta5EyeTrackingModUpdater)"
		 UpgradeCode="5ABF7B44-353C-4C52-BE9E-9EB6735A4445"
		 DisableModify="yes">
		<BootstrapperApplicationRef
      Id="WixStandardBootstrapperApplication.RtfLicense" >
			<bal:WixStandardBootstrapperApplication
        LicenseFile="..\Installer\Resources\License.rtf"
        LogoFile="..\Installer\Resources\gta5eyetracking.png"/>
		</BootstrapperApplicationRef>

		<Chain>
			<PackageGroupRef Id="NetFx452Web"/>
			<MsiPackage Id="Gta5EyeTrackingModUpdater" SourceFile="..\bin\installer\Gta5EyeTrackingModUpdater.msi"/>
		</Chain>
	</Bundle>
</Wix>